<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <style>
      body {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <h1>Sign UP</h1>
    <form action="/user" method="post">
      <label>Full Name</label>
      <input type="text" required name="name" />
      <label>Email</label>
      <input type="text" required name="email" />
      <label>Password</label>
      <input type="text" required name="password" />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
